:root{
  --navbarTextColor:rgb(122, 122, 122);
  --text:#002347;
}

::selection {
  color: #fff;
  background-color: #34f304;
}
::-moz-selection {
  color: #fff;
  background-color: #34f304;
}
.navbar {
  background-color: transparent !important;
}
body{
  color:var(--text)
}
.inicio{
  background-color: var(--text);
  border-color: transparent;
}