:root{
  --navbarTextColor:rgb(122, 122, 122);
}

::selection {
  color: #fff;
  background-color: #34f304;
}
::-moz-selection {
  color: #fff;
  background-color: #34f304;
}
.navbar {
  background-color: transparent !important;
}
